{% extends 'inc/dashboard_base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}

{% block title %}Dashboard{% endblock title %}



{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Update your profile</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div> -->


</div>
    {% include 'inc/msgs.inc.html' %}

<div>
    <div>
        <div class="my-4">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_field user_form.first_name layout='floating' %}
                {% bootstrap_field user_form.last_name layout='floating' %}
                {% bootstrap_field user_form.email layout='floating' %}

                <button type="submit" name="" id="" class="btn btn-success  btn-block">Update profile</button>
            </form>
        <!-- <img src="{% static 'img/cover2.jpg' %}" style="width: 70%;" alt=""> -->
    </div>

    <div class="py-4">
        <h4 class="mb-4 text-secondary">Logged in devices</h4>
        <div class="">
            <table class="table p-3 border table-striped">
                <thead>
                    <tr>
                        <th>Browser</th>
                        <th>Operating System</th>
                        <th>Device</th>
                        <th>IP address</th>
                        <th>Last login</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Run a loop  -->
                    <tr>
                        <td>Chrome 5.1</td>
                        <td>Windows 11.0</td>
                        <td>PC or laptop (Other)</td>
                        <td>124.54.165.44</td>
                        <td>May 11, 2021 - 11:00 pm</td>
                        <td>
                            <a href="{% url 'delete_device' 'asdasd' %}" onclick="return confirm('Are you sure you want to remove this session?')">
                            <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                            </a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </div>

</div>
<!-- <canvas class="my-4 w-100 text-success" id="myChart" width="900" height="380"></canvas> -->

<script src="{% static 'assets/js/folders.js' %}"></script>
<script>
    $("#id_password1, #id_password2").removeAttr("required");
</script>

{% endblock content %}