{% load django_bootstrap5 %}

<div class="modal fade" id="bookmarkmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="bookmarkLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookmarkLabel">Add new bookmark</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" id="bookmarkmodalform" method="post">
                <div class="modal-body" style="border: 0;">
                    <div class="p-2">
                        {% csrf_token %}
                        {% bootstrap_form bookmark_form layout="floating" %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save bookmark</button>
                </div>
            </form>
        </div>
    </div>
</div>